@model WeatherService_DynamicSun.Models.WeatherConditions

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WeatherConditions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemperatureAir" class="control-label"></label>
                <input asp-for="TemperatureAir" class="form-control" />
                <span asp-validation-for="TemperatureAir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelativeHumidity" class="control-label"></label>
                <input asp-for="RelativeHumidity" class="form-control" />
                <span asp-validation-for="RelativeHumidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DewPoint" class="control-label"></label>
                <input asp-for="DewPoint" class="form-control" />
                <span asp-validation-for="DewPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtmosphericPressure" class="control-label"></label>
                <input asp-for="AtmosphericPressure" class="form-control" />
                <span asp-validation-for="AtmosphericPressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindDirection" class="control-label"></label>
                <input asp-for="WindDirection" class="form-control" />
                <span asp-validation-for="WindDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindSpeed" class="control-label"></label>
                <input asp-for="WindSpeed" class="form-control" />
                <span asp-validation-for="WindSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CloudCover" class="control-label"></label>
                <input asp-for="CloudCover" class="form-control" />
                <span asp-validation-for="CloudCover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowerCloudLimit" class="control-label"></label>
                <input asp-for="LowerCloudLimit" class="form-control" />
                <span asp-validation-for="LowerCloudLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorizontalVisibility" class="control-label"></label>
                <input asp-for="HorizontalVisibility" class="form-control" />
                <span asp-validation-for="HorizontalVisibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherPhenomena" class="control-label"></label>
                <input asp-for="WeatherPhenomena" class="form-control" />
                <span asp-validation-for="WeatherPhenomena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
